<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conversion on server side</title>
</head>

<body>

    <div>
        F:<input id="txtF" type="number">
        <br>
        C:<input id="txtC" type="number" disabled>
        <br>
        <button id="btnDo">Convert</button>
    </div>

    <script src="scripts/jquery-3.4.1.js"></script>
    <script src="scripts/temp.js"></script>
</body>

</html>